html{
    scroll-action: smooth;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-right:5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}

body{
    margin: 0;
}

/* base.html */

#main-header{
    z-index: 100;
    width: 18%;
    float: left;
    background-color: rgb(10, 40, 40);
    color: beige;
    font-family: 'Montserrat';
    position: fixed;
    min-height: 100vh;
}

.main-header-link-container-div{
    margin-top: 20px;
    margin-left: 40px;
}

.main-header-link-container-div a{
    color: beige;
    text-decoration: none;
}

.base-block-content-container-div{
    width: 82%;
    float: right;
}

#notification-toggle{
    cursor: pointer;
}

.notification-counter{
    position: absolute;
    background-color: rgb(150, 20, 20);
    font-size: 8px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 50%;
    margin-left: 87px;
    margin-top: -5px;
}

.notification-list{
    position: absolute;
    background-color: rgba(40, 100, 100, 0.2);
    height: 300px;
    width: 400px;
    border-radius: 10px;
    border: 1px solid rgb(40, 100, 100);
    overflow-y: scroll;
    margin-left: 150px;
    margin-top: -20px;
    visibility: hidden;
}

.notification-list-show{
    visibility: visible;
    z-index: 1000000;
}

.notification{
    margin: auto;
    width: 95%;
    margin-top: 5px;
    min-height: 20px;
    background-color: rgb(40, 80, 80);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius:10px;
    border: 1px solid rgb(150, 150, 150);
}

.notification-title{
    font-weight: 800;
    margin-bottom: 10px;
}

.notification-date-time{
    margin-bottom: 10px;
    font-size: 10px;
}

.notification-message{
    font-size: 12px;
}

.notification-delete{
    color: beige;
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
}

.notification-empty-notifier{
    font-weight: 800;
    text-transform: uppercase;
    font-family: Impact;
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    color: rgb(100, 100, 100);
    letter-spacing: 2px;
}

/* dashboard.html */

.graph-div{
    display:inline-block;
    background-color: rgb(220,220,220);
    background-color: rgb(220,220,220);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius:3px;
    margin-top:14px;
    margin-left:14px;
}

.dashboard-graph-filter-div{
    display: inline-block;
}

/* scanned_product.html */

.scanned-products-utmost-container-section{
    overflow: hidden;
}

.scanned-products-products-scanned-list{
    float: left;
}

.scanned-products-scanned-product{
    float: right;
}

.scanned-products-table-container-div{
    float: left;
    min-height: 55vh;
    background-color: rgb(200, 200, 200);
    width:40vw;
    /*    height: 30vh;
        overflow: scroll;*/
}

.scanned-products-total-price-container-div{
    background-color: rgb(80, 150, 150);
    text-align: right;
    font-family: Impact;
    font-size: 35px;
    color: beige;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.table{
    height: 55vh;
    overflow-y: scroll;
}

.scanned-products-table-head{
    background-color: rgb(10, 40, 40);
    color: beige;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Lato, Impact;
}

.scanned-products-scanned-product{
    background-color: rgb(100, 100, 100);
    padding: 20px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
}

.scanned-products-table-data{
    background-color: rgba(100, 200, 200, 0.3);
    padding-top: 10px;
    padding-bottom: 10px;
}

.scanned-products-lower-table-data{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(50, 100, 100);
    color: beige;
}

#scanned-products-table-data-total-price-title{
    font-family:Lato, Impact;
    font-weight: 800;
}

.scanned-products-table-data a{
    text-decoration: none;
}

#scanned-products-table-head-name{
    width: 350px;
}

#scanned-products-table-head-quantity{
    width:100px;
}

#scanned-products-table-head-price{
    width:100px;
}

#scanned-products-table-data-quantity{
    text-align: center;
}

#scanned-products-table-data-price{
    text-align: center;
}

#scanned-products-table-data-total-price{
    text-align: right;
    font-family: Impact;
    font-size: 40px;
    letter-spacing: 2px;
    margin-right: 20px;
}

#scanned-products-table-data-total-price div{
    margin-right: 20px;
}

.scanned-products-add-quantity-form{
    display: none;
}

.scanned-products-show-add-quantity-form{
    display: block;
}

.scanned-products-blot-quantity{
    display: none;
}

.scanned-products-add-quantity-element{
    display: inline-block;
}

.scanned-quantity-field{
    width: 18px;
}

.scanned-products-scanned-product-label-container-div{
    background-color: rgb(150, 150, 150);
    width: 140px;
    padding: 10px;
    font-family: 'Montserrat';
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    margin-bottom: -20px;
    color: beige;
}

.scanned-products-scanned-product-detail{
    height: 10px;
    width: 300px;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    margin: 10px;
    text-align: right;
    border-radius: 10px;
    font-family: 'Impact';
    color: rgb(70, 70, 70);
}

.scanning-product-entire-product-list{
    position: relative;
    transition: all ease 0.7s;
}

.scanned-products-barcode-camera-scanner-container-div{
    display: none;
}

.scanned-products-add-quantity-btn-div{
    display: none;
}


.scanned-products-barcode-camera-scanner-container-div img{
    height: 100px;
}

/* expiration.html */

.expiration-expired-upcoming-products-container{
    text-align: center;
}

.expiration-expired-products-container-div{
    display: inline-block;
    vertical-align: top;
}

.expiration-product-container-title-heading-div{
    font-family: Impact;
    font-size: 40px;
}

.expiration-products-container-div{
    text-align: left;
}

.expiration-product-div{
    border: 1px solid rgb(80, 150, 150);
    background-color: rgba(80, 150, 150, 0.3);
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
}

/* select_sell_products.html */

.selected {
    background-color: rgb(10, 40, 40); /* Blue color */
    color: beige; /* White text on selected background */
}

.select-sell-products-container-section{
    text-align: center;
    float: right;
    width: 47%;
    min-height: 100vh;
    margin-right: 30px;
}

.selected-sell-selected-products-list{
    float: left;
    position:fixed;
    z-index: 1;
}

.select-sell-product-container-div{
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    vertical-align: top;
}

.awd{
    display: inline-block;
}

.select-sell-products-type-container-div{
    display: none;
}

.select-sell-product-container-div-show{
    display: block;
}

#select-sell-product-container{
    height: 250px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Montserrat';
    cursor: pointer;
    vertical-align: top;
}

.select-sell-quantity-input{
    width: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.select-sell-product-details-container-div{
    text-align: left;

}

.select-sell-product-img-container-div{
    text-align: center;
}

.select-sell-product-image{
    height: 100px;
    width: 150px;
    border-radius: 5px;
}

.select-sell-product-no-img-div{
    text-align: center;
    margin:auto;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(150, 150, 150);
}

.select-sell-product-no-img-div span{
    font-family: Impact;
    color: rgb(65, 65, 65);
}

.select-sell-product-name{
    margin-bottom: 20px;
}

.select-sell-product-checkbox-input{
    display: none
}

.select-sell-quantity-btn-span{
    font-size: 30px;
    border-radius: 50%;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.select-sell-quantity-element{
    display: inline-block;
    vertical-align: top;
    color: rgb(50, 50, 50);
    font-family: 'Montserrat';
    font-weight: 800;
}

.select-sell-quantity-btn{
    background: none;
    cursor: pointer;
    font-weight: 800;
    border: none;
    color: rgb(80, 80, 80);
    font-family: 'Montserrat';
}

#select-sell-subtract-quantity{
    color: rgb(100, 20, 20);
}

#select-sell-add-quantity{
    color: rgb(20, 100, 20);
}

.select-sell-product-quantity-input-container-div{
    margin-top: 200px;
    margin-left: 35px;
    position: absolute;
    font-family: 'Montserrat';
    text-align: center;
}

.select-sell-quantity-input:focus{
    outline: none;
}

.select-sell-product-toggle-btn{
    margin: 20px;
    width: 150px;
    height: 150px;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Montserrat';
}

.select-sell-product-type-image{
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

.select-sell-selected-products-array-div{
    display: none;
    margin-left: 50px;
}

.select-sell-selected-products-array-div-show{
    display: block;
}

.select-sell-product-select-product-btns-div{
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

.select-sell-form-operator-container-div{
    position: fixed;
    z-index: 10;
    margin-top: -50px;
    width: 400px;
    margin-left: 60px;
}

.select-sell-submit-selected-btn-div{
    display: none;
}

.select-sell-submit-selected-btn-div-show{
    display: block;
}

.select-sell-select-more-products-div{
    display: none;
    cursor: pointer;
    font-family: 'Montserrat';
    border: 1px solid rgb(10, 40, 40);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 5px;
    background-color: rgb(40, 80, 80);
    border: none;
    font-weight: 800;
    color: beige;
    font-size: 13px;
}

.select-sell-select-more-products-div-show{
    display: block;
}

.selected-sell-product-div1{
    position: absolute;
}

#select-sell-remove-selected-product-btn{
    background: none;
    border:none;
    font-family: 'Montserrat';
    font-weight: 800;
    color: rgb(40, 40, 40);
    cursor: pointer;
}

.selectedProductNames{
    display: inline;
}

.select-sell-products-toggle-btn-container-div{
    margin-top: 60px;
}

.select-sell-products-type-container-div{
    margin-top: 60px;
}

#selected-product-select-sell{
    margin-top:5px;
}

#submit-selected-btn{
    background-color: rgb(40, 80, 80);
    color: beige;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-weight: 800;
    border: none;
    cursor: pointer;
}

#selectedProductNames{
    margin-top:10px;
    border-radius: 10px;
    text-align: left;
    font-family: 'Montserrat';
    max-height: 100px;
    width: 380px;
    overflow-y: scroll;
    background-color: rgb(230, 230, 230);
    padding-left: 20px;
}

.select-sell-sell-form-section{
    float: left;
    position:fixed;
    padding: 5px;
    width: 300px;
    margin-top: 450px;
    margin-left: 120px;
    border-radius: 5px;
    text-align: center;
}

#select-sell-sell-products-btn{
    background-color: rgb(200, 200, 200);
    color: rgb(20, 20, 20);
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Montserrat';
    box-shadow: rgb(0, 0, 0) 0px 1px 8px;
    cursor: pointer;
    margin-top: 5px;
    width: 85%;
}

.select-sell-cash-input-field{
    height: 30px;
    border-radius: 5px;
    border: none;
    width: 85%;
    padding-right: 10px;
    border: rgb(200, 200, 200) solid 1px;
    background-color: rgb(220, 220, 220);
    margin-bottom:10px;
}

.select-sell-cash-input-field:focus{
    outline: none;
}

.loading-spinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #7983ff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

.htmx-request.loading-spinner {
    display: inline-block;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner-product-list-container-div{
    position: absolute;
}

.loading-spinner-product-list {
    text-align: center;
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #7983ff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.htmx-request.loading-spinner-product-list {
    display: inline-block;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

